{% extends 'news_api/base.html' %}
{% block content %}
<br>
<p class="text-center">{{ news.title }}</p>

<hr class="my-text">
<div class="container-fluid ">

    <div class="row">
        <div class="col-6">
            <p class="text-left">Author: {{ news.author }}</p>


        </div>

        {% if news.path == 'user' %}
        <div class="col-6">
            <p class="text-right"><a href="{% url 'post_edit' news.pk %}">Update</a></p>
        </div>
        {% else %}
        <div class="col-6">
            <p class="text-right"><a href="{% url 'edit_error' %}">Update</a></p>
        </div>
        {% endif %}

        <br>






    </div>
</div>
<h6 class="text-center">Comments</h6>

<div class="container-fluid padding justify-content-center pt-2 px-4" style="background-color:;">
    <div class="row card p-4 mb-5" style="background-color:white;" >

        {% for comment in comments %}
                {% if comment.author_id == news.hackernews_id %}


        <div class="col-12 ">

            <div class="card shadow-lg mb-5 bg-white rounded" style="border-radius:.5em;">

                <div class="col-12">

                                    <div class="" style="background-color:;">
                <h2 class="text-uppercase small mb-1 text-center">{{ comment.text }}

              </h2>
                              <h5 class="text-uppercase small mb-1 text-center pt-3">
                <strong></strong>

              </h5>


            </div>


        </div>
                <!-- -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-3 pt-5">
                            <p style="font-size:.5em;  font-weight:bold;">User: {{ comment.by }}</p>



                        </div>
                        <div class="col-3 pt-5">

                        <p style="font-size:.5em;  font-weight:bold;"></p>

                        </div>










            <div class="col-3">
            <div class="pt-5 text-left">
                <p style="font-size:.5em;  font-weight:bold;"></p>


            </div>


            </div>

            <div class="col-3">
            <div class=" pt-5 text-right">
                <p style="font-size:.5em;  font-weight:bold;">{{ comment.time }}</p>


            </div>


            </div>




                        </div>

                    </a>






                </div>









            </div>


    </div>



{% endif %}
            {% endfor %}


</div>
</div>



    <br>
{% endblock content %}